
    .btn,
    .button,
    button,
    input[type="submit"],
    input[type="reset"],
    input[type="button"] {
        line-height: 44px;
        height: 44px;
        min-width: 180px;
        border-radius: 0;
        padding: 0;
        background-color: $color-white;
        border: 0;
        
        * {
            @include multiple-transition(all, 0.3s);
        }

        &:hover,
        &:active,
        &:focus {
            outline: 0;
            border: 0;
            background-color: $color-white;
        }

        &.btn-arrow {
            position: relative;
            overflow: hidden;
            padding-right: 50px;

            &:hover {
                .icon {
                    right: -5px;
                }
            }

            .icon {
                float: right;
                display: block;
                height: 44px;
                line-height: 44px;
                width: 60px;
                color: $color-black;
                font-size: 18px;
                background-color: $color-greyLight;
                transform: skewX(15deg);
                position: absolute;
                right: -8px;
                top: 0;
                padding-right: 8px;

                .fa {
                    transform: skewX(-15deg);
                }
            }

        }


        &.btn-default {
            &:hover {
                background: $color-grey;
                color: $color-white;

                .icon {
                    background-color: $color-greyDark;

                    .fa:before {
                        color: $color-white;
                    }
                }
            }
        }





        &.btn-primary {
            background: $color-primary;

            &--outline {
                border:1px solid $color-primary;
                color: $color-primary;
            }
            
            .icon {
                background-color: $color-primaryDark;

                .fa {
                    color: $color-white;
                }
            }

            &:hover {
                background-color: $color-primaryDark;

                .icon {
                    background-color: $color-primaryDarker;
                }
            }
        }



        &.btn-secondary {
            background: $color-secondary;
            
            &--outline {
                border:1px solid $color-secondary;
                color: $color-secondary;
            }

            .icon {
                background-color: $color-secondaryDark;

                .fa {
                    color: $color-white;
                }
            }

            &:hover {
                background-color: $color-secondaryDark;

                .icon {
                    background-color: $color-secondaryDarker;
                }
            }
        }


    
        
        &.btn-neutral {
            background: $color-neutralDark;

            &--outline {
                border:1px solid $color-neutralDark;
                color: $color-neutralDark;
            }
            
            .icon {
                background-color: $color-neutral;

                .fa {
                    color: $color-white;
                }
            }

            &:hover {
                background-color: $color-neutralDarker;

                .icon {
                    background-color: $color-neutralDark;
                }
            }
        }

    }

