select {
    background-image: url("../images/common/select-bg.png") !important;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-size: 24px;
    -webkit-appearance: textarea;
}



