::selection {
  background: lighten($color-primary, 10%);
  color: $color-white;
} /* Safari */


::-moz-selection {
  background: lighten($color-primary, 10%);
  color: $color-white;
} /* Firefox */
