ul.breadcrumb {
    margin: 20px 0;
    border-radius: 0;
    background-color: #333;
}

ul.breadcrumb li a {
    color: #fff;
    text-shadow: none;
}

ul.breadcrumb li i.fa.fa-home {
    color: orange;
}

.breadcrumb > li:not(:last-child) a {
    color: orange;
}

body[class*="checkout"] #content,
body[class*="product"] #content {
    background-color: #fff;
	padding-bottom:20px;
}
#content .form-control {
    margin: 0;
    background-color: #fff;
    border: 1px solid #ccc;
}
.alert.alert-success {
    font-size: 1.5em;
    text-align: center;
    width: 60%;
    padding: 30px 20px;
    margin: 0 auto 20px;
    box-shadow: 0 6px 0 0px;
    background-color: #fff;
}

.alert.alert-success i {
    font-size: 1em;
}

.product-thumb .caption {
    min-height: 148px;
    border-top: 1px solid #ccc;
}

.product-thumb .caption p {
    color: #000;
}





aside#column-left a.list-group-item.active {
    background-color: #FA6500;
    color: #fff;
    text-shadow: none;
    font-weight: 700;
    font-size: 1.2em;
    border: 0;
}



/**product box
PHP FILE LOCATION
E:\xampp\htdocs\projects\opencart\hardparts\catalog\view\theme\default\template\product\***/
.product-thumb h4 a {
    color: #666;
}
.product-thumb button[onclick*="cart.add"] {
    background-color: #fa6500;
    color: #fff;
}
.product-thumb button[onclick*="cart.add"]:hover {
    background-color: #fff;
    color: #d00;
}

.product-thumb button[onclick*="wishlist.add"] {
    color: hotpink;
}
.product-thumb button[onclick*="wishlist.add"]:hover {
    background-color: hotpink;
    color: #fff;
    border: 0;
}

.product-thumb button[onclick*="compare.add"] {
    color: yellowgreen;
}
.product-thumb button[onclick*="compare.add"]:hover {
    background-color: yellowgreen;
    color: #fff;
    border: 0;
}
.product-thumb p.price {
    font-weight: 600;
    color: #FA6500;
    font-size: 1.5em;
}
.product-thumb:hover {
    box-shadow: 0 0 20px #ddd;
}
/**./product box***/





body[class*="product"] {
    background-attachment: fixed;
    background-position-y: -130px;
}

.cata-top p {
    color: #000;
}

.cata-top {
    border-bottom: 1px solid #ccc;
    padding: 0 0px 15px;
}

.results-area {
    padding: 15px 20px;
    font-size: 1.2em;
    color: #999;
}

/***refine-search (need html code too)***/
.refine-search {
    float: right;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    margin: 0 0 10px;
}

.refine-search h3 {
    margin: 0;
}

.refine-search ul li a {
    background-color: #eee;
    display: inline-block;
    padding: 5px 15px;
    color: #000;
    border-radius: 5px;
    margin: 10px 10px 5px 0;
}
/***./refine-search (need html code too)***/



aside#column-left {
    padding-left: 0;
}

ul.breadcrumb + .row {
    margin: 0px;
}


.checkout-cart #content .form-control {
    height: 34px;
}


.cata-top h3 + ul li {
    display: inline-block;
}

.cata-top h3 + ul {
    padding: 0;
}

.cata-top h3 + ul li a {
    background-color: #eee;
    color: #000;
    padding: 8px 15px;
    display: inline-block;
    border-radius: 5px;
}

#content{background-color:#fff; padding-bottom:20px;}

body.account-login .well {
    margin-top: 18px;
    border-radius: 0px;
    background-color: #fff;
}

body.account-login .well h2 {
    margin: 0;
}
