.datepicker {
  &.datepicker-dropdown {

     
    th {
        &.next,
        &.datepicker-switch,
        &.prev {
          background: $color-skyBlueLightest;
          border-color: $color-skyBlueLightest;
          cursor: pointer;
        }
      }

    .datepicker-days{
        td,
        th {
          padding: 5px !important;
          border-color: $color-smoke;
        }
   
    
        td {
          &.active.day,
          &:hover {
            background-color: $color-blue;
          }
        }
    }



    .datepicker-decades .decade,
    .datepicker-centuries .century,
    .datepicker-years .year,
    .datepicker-months .month {
        margin: -1px -1px 0 0;
        display: inline-block;
        padding: 0 10px;
        padding: 5px;
        border: 1px solid #ccc;
        
        &:hover{
            background-color: $color-blue;
            color: $color-white;
            cursor: pointer;
        }
    }




  }
}
