body.dashboard .sidelft .navbar-nav>li {
    display: block;
    width: 100%;
    border-top: 1px solid #eee;
}

.dashboard .sidelft .navbar-nav>li>.dropdown-menu {
    position: static;
    display: block;
    width: 100%;
    border: 0;
    height: 0px;
    overflow: hidden;
    padding: 0;
}
ul.nav.navbar-nav.navbar-main {
    float: left;
    width: 100%;
}
body.nav-min section.sidelft {
    width: 10%;
}

body.nav-min section.sidelft~.col-sm-9 {
    width: 90%;
}
section.sidelft {
    height: 97vh;
}
div#bs-example-navbar-collapse-1 {
    padding: 0;
}

.container-fluid {
    padding: 0;
}

body.nav-min section.sidelft .navbar-nav li a i {
    display: block;
    font-size: 20px;
    text-align: center;
}

body.nav-min section.sidelft .navbar-nav li a span {
    font-size: 10px;
    text-align: center;
	display:block;
}
body.nav-min .navbar-default .navbar-nav>li>a {
    padding: 10px;
}

.dashboard .sidelft .navbar-nav>li.open>.dropdown-menu,
.dashboard .sidelft .navbar-nav>li:hover>.dropdown-menu {
    height: auto;
}

span.notify-icon {
    position: absolute;
    font-size: 10px;
    background-color: #d00;
    color: #fff;
    padding: 1px 2px;
    width: 12px;
    text-align: center;
    height: 12px;
    margin-top: -10px;
    margin-left: -5px;
    border-radius: 5px;
}

.noarrow.dropdown > a::before {
    display: none;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin: 0;
}


/**dropdown align to right**/
body.dashboard li.dropdown .dropdown-menu { left: auto; right: 0;}

body.dashboard .sidelft .navbar-nav li.active{
    border-right: 5px solid #000;
}
body.dashboard .sidelft .navbar-nav>li.open {border-right: 5px solid #eee;}