@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

body{font-family: "Open Sans", "Helvetica", "Helvetica Neue",Arial,sans-serif;}

body nav.navbar { font-family: "Open Sans", "Helvetica", "Helvetica Neue", Arial,sans-serif; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{font-family: "Open Sans", "Helvetica", "Helvetica Neue", Arial,sans-serif;}

body label { font-weight: 600;}



/*==============Media Queries==============*/
/* 24" large Screens */
@media only screen and (max-width : 1920px) {	}


/* 22" large Screens */
@media only screen and (max-width : 1680px) {	}


/* 20" large Screens */
@media only screen and (max-width : 1600px) {	}


/* 19" large Screens */
@media only screen and (max-width : 1440px) {	}


/* 13" Notebook Large Devices, Wide Screens */
@media only screen and (max-width : 1280px) {	}


/* Ubuntu, Medium Screens */
@media only screen and (max-width : 1198px) {	}


/* 12" Notebook & iPad landscape  · width: 1024px */
@media only screen and (max-width : 1024px) {	}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {	}


/*Landscape*/
@media only screen and (max-width : 960px) {	}


/* Kindel Fire HD 8.9in (800x1280) Tablets */
@media only screen and (max-width : 800px) {	}


/* iPad (All) (768x1024) Portrait Tablets */
@media only screen and (max-width : 768px) {	}

/* Lower then iPad (All) (767x---) */
@media only screen and (max-width : 767px) {	}

/*iPhone 6 Plus landscape · width: 736px */
@media only screen and (max-width : 736px) {	}

/*iPhone 6 landscape · width: 667px */
@media only screen and (max-width : 667px) {	}


/* Google Nexus 7 603x966 | Samsung Galaxy Tab 600x1024  */
@media only screen and (max-width : 603px) {	}


/*iPhone4 and iPhone5 Galaxy S2 and S3  */
@media only screen and (max-width : 640px) {	}


/* iPhone 5 Landscape · 320x568px */
@media only screen and (max-width : 568px) {	}


/* Kindel Fire HD 8.9in (533x853) Tablets */
@media only screen and (max-width : 533px) {	}


/*iPhone3 Landscape*/
@media only screen and (max-width : 480px) {	}


/* iPhone 6 PLUS (414x736) */
@media only screen and (max-width : 414px) {	}


/* iPhone 6 portrait (375x667) */
@media only screen and (max-width : 375px ) {	}


/* Galaxy S5 (360x640) */
@media only screen and (max-width : 360px) {	}


/* iPhone 3/4 Blackberry8300 / LG/ AUSUS / S3 S4 */
@media only screen and (max-width : 320px) {	}


/*Galaxy Y*/
@media only screen and (max-width : 240px) {	}